# Core
pyspark==3.5.0
delta-spark==3.2.0

# Data
pandas==2.1.4
pyarrow==14.0.2

# Graph algorithm
networkx==3.2.1

# Testing
pytest==7.4.3
pytest-cov==4.1.0

# Code quality
black==23.12.1

# Visualization 
matplotlib==3.8.2